<div ng-controller="product_controller">
    <h2 class="text-center mt-3">Manage Products</h2>
    <form>
        <div class="col-6 offset-3">
            <label class="form-label">Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" ng-model="product.name">
        </div>
        <div class="col-6 offset-3 mt-3">
            <label class="form-label">Photo<span class="text-danger">*</span></label>
            <input type="file" class="form-control" ng-model="product.image">
        </div>
        <div class="col-6 offset-3 mt-3">
            <label class="form-label">Price<span class="text-danger">*</span></label>
            <input type="number" class="form-control" ng-model="product.price">
        </div>
        <div class="col-6 offset-3 mt-3">
            <label class="form-label">Create Date<span class="text-danger">*</span></label>
            <input type="date" class="form-control" ng-model="product.createDate">
        </div>
        <div class="col-6 offset-3 mt-3">
            <label class="form-label">Available</label>
            <div class="row">
                <div class="form-check col-6">
                    <input class="form-check-input ms-5" value="true" type="radio" name="flexRadioDefault" id="rdoTrue"
                        ng-model="product.available" ng-checked="product.available == true" required>
                    <label class="form-check-label ms-2" for="flexRadioDefault1">
                        Đang hoạt động
                    </label>
                </div>
                <div class="form-check col-6">
                    <input class="form-check-input" value="false" type="radio" name="flexRadioDefault" id="rdoFalse"
                        checked ng-model="product.available" ng-checked="product.available == false" required>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Ngừng hoạt động
                    </label>
                </div>
            </div>
        </div>
        <div class="col-6 offset-3 mt-3">
            <label class="form-label">Category</label>
            <select class="form-select" ng-model="product.category">
                <option value="" disabled selected>-- Please select a category --</option>
                <option ng-repeat="category in listCategory" value="{{ category.id }}" ng-selected="category.id === product.category.id">
                    {{ category.name }}
                </option>
            </select>
        </div>        
        <div class="col-6 offset-3 mt-5">
            <button class="btn btn-primary col-4 offset-4" ng-click="save($event)">Save</button>
        </div>
    </form>
</div>